{{ define "membership_ctas" }}
  <div class="text-center">
    <a class="btn btn-primary" href="#">Contact Us About Membership</a>
    <a class="btn btn-primary" href="#">My Organisation is Ready to Join Now</a>
  </div>
{{ end }}

<p>
  Join <a href="/membership/members/">industry leaders</a> as we define and
  build the hardware of the future.
</p>
{{ template "membership_ctas" . }}

<h2 id="why-join">Why Join?</h2>
<!-- CTAs -->

<h3 id="benefits">Benefits of Joining the OpenHW Ecosystem</h3>
<ul>
  <li>
    <strong>Influence a Thriving Ecosystem:</strong> Help shape the future of
    the expanding CORE-V open hardware landscape.
  </li>
  <li>
    <strong>Leadership Opportunities:</strong>
    Gain industry visibility by joining our Steering and Technical Advisory
    Committees, driving impactful global initiatives.
  </li>
  <li>
    <strong>Strategic Roadmap Impact:</strong> Lead the development of a global
    open hardware roadmap, advancing innovation in critical tech sectors.
  </li>
  <li>
    <strong>Event Participation:</strong> Elevate your brand at OpenHW events,
    sharing insights at key industry forums.
  </li>
  <li>
    <strong>Brand Alignment:</strong> Leverage OpenHW and CORE-V trademarks and
    logos, strengthening your alignment with open source leadership.
  </li>
</ul>

<!-- Testimonials -->
<h2 id="testimonials">What Our Members Are Saying</h2>
<div class="row testimonial-container">
  {{ range first 3 .Site.Data.testimonials.items }}
  <div class="col-sm-8 margin-bottom-20 testimonial-item">
    <div class="bg-primary padding-20 match-height-item">
    <div class="testimonial-logo">
      <img width="{{ .logo_width }}" class="img-responsive" src="{{ .logo }}">
    </div>
    <p class="title"><strong>{{ .title }}</strong></p>
    <p class="content">"{{ .text }}"</p>
    </div>
  </div>
  {{ end }}
</div>
{{ if gt (len .Site.Data.testimonials.items) 3 }}
  <div class="collapse" id="featured-more-items" aria-expanded="true" style="">
    <div class="row testimonial-container">
    {{ range after 3 .Site.Data.testimonials.items }}
      <div class="col-sm-8 margin-bottom-20 testimonial-item">
        <div class="bg-primary padding-20 match-height-item">
        <div class="testimonial-logo">
          <img width="{{ .logo_width }}" class="img-responsive" src="{{ .logo }}">
        </div>
        <p class="title"><strong>{{ .title }}</strong></p>
        <p class="content">"{{ .text }}"</p>
        </div>
      </div>
    {{ end }}
    </div>
  </div>
{{ end }}
{{ if gt (len .Site.Data.testimonials.items) 3 }}
  <hr>
  <ul class="text-center margin-top-15 list-inline">
    <li><a data-toggle-text="Close" role="button" data-toggle="collapse" href="#featured-more-items" aria-expanded="true" aria-controls="featured-more-items" class="btn btn-primary toggle-text">View More</a></li>
  </ul>
{{ end }}

{{ template "membership_ctas" . }}
