<div class="row padding-top-60 padding-bottom-60">

  <!-- Join the Conversation -->
  <div class="col-md-10 col-md-offset-2 margin-bottom-60">
    <div class="icon-card icon-card-rounded icon-card-dark card">
      <div class="icon-card-header">
          <div class="icon-card-header-icon">
            <i class="fa-solid fa-comments" aria-hidden="true"></i>
          </div>
          <div class="icon-card-header-title">
            Join the Conversation
          </div>
      </div>
      <div class="icon-card-body text-center">
        <p>
          Join the OpenHW community on Mattermost to connect and collaborate.
        </p>
        <div class="icon-card-body-cta text-center">
          <a 
            class="btn btn-primary"
            href="https://mattermost.openhwgroup.org/all-users/channels/town-square" 
          >
            Chat
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Community Calls -->
  <div class="col-md-10 col-md-offset-2 margin-bottom-60">
    <div class="icon-card icon-card-rounded icon-card-dark card">
      <div class="icon-card-header">
          <div class="icon-card-header-icon">
            <i class="fa-solid fa-calendar" aria-hidden="true"></i>
          </div>
          <div class="icon-card-header-title">
            Community Calls
          </div>
      </div>
      <div class="icon-card-body text-center">
        <p>
          Check our Google Calendar for upcoming calls
        </p>
        <div class="icon-card-body-cta text-center">
          <a 
            class="btn btn-primary"
            href="https://calendar.google.com/calendar/u/0/r?cid=meetings@openhwgroup.org" 
          >
            View Calendar
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Eclipse Newsletter -->
  <div class="col-md-10 col-md-offset-2 margin-bottom-60">
    <div class="icon-card icon-card-rounded icon-card-dark card">
      <div class="icon-card-header">
          <div class="icon-card-header-icon">
            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="icon-card-header-title">
            Eclipse Newsletter
          </div>
      </div>
      <div class="icon-card-body text-center">
        <p>
          The Eclipse Foundation Community Newsletter is your destination for
          original articles about projects and key technologies.
        </p>
        <div class="icon-card-body-cta text-center">
          <a 
            class="btn btn-primary"
            href="https://eclipse.us6.list-manage.com/subscribe?u=eaf9e1f06f194eadc66788a85&id=e7538485cd" 
          >
            Subscribe
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Eclipse Newsletter -->
  <div class="col-md-10 col-md-offset-2 margin-bottom-60">
    <div class="icon-card icon-card-rounded icon-card-dark card">
      <div class="icon-card-header">
          <div class="icon-card-header-icon">
            <i class="fa-solid fa-envelopes-bulk" aria-hidden="true"></i>
          </div>
          <div class="icon-card-header-title">
            Contact Us
          </div>
      </div>
      <div class="icon-card-body">
        <div class="row">
          <div class="col-md-12">
            <p><strong>Address</strong></p>
            <p>
              OpenHW Foundation
              <br>
              2934 Baseline Road, Suite 202, Ottawa, ON,
              Canada K2H 1B2
            </p>
          </div>
          <div class="col-sm-12">
            <p><strong>Email</strong></p>
            <p>
              <a class="link-unstyled" href="mailto:info@openhwgroup.org">info@openhwgroup.org</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mailing Lists -->
  <div class="col-md-10 col-md-offset-2 margin-bottom-60">
    <div class="icon-card icon-card-rounded icon-card-dark card">
      <div class="icon-card-header">
          <div class="icon-card-header-icon">
            <i class="fa-solid fa-envelopes-bulk" aria-hidden="true"></i>
          </div>
          <div class="icon-card-header-title">
            Mailing Lists
          </div>
      </div>
      <div class="icon-card-body">
        <p>
          Connect with the OpenHW community through mailing lists:
        </p>
        <ul>
          <li>
            <a class="link-unstyled" href="https://accounts.eclipse.org/mailing-list/openhw">
              OpenHW Foundation General Mailing List
            </a>
          </li>
          <li>
            <a class="link-unstyled" href="https://accounts.eclipse.org/mailing-list/openhw.twg">
              OpenHW Technical WG Mailing List
            </a>
          </li>
          <li>
            <a class="link-unstyled" href="https://accounts.eclipse.org/mailing-list/openhw.core-v.cores">
              OpenHW CORE-V Cores Mailing List
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


