{{ $news_id := "news-list" }}
{{ if not (in (.Page.Scratch.Get "news-container-ids") $news_id) }}
  {{ .Page.Scratch.Add "news-container-ids" (slice $news_id) }}
{{ end }}

{{ $events_id := "events-list" }}
{{ if not (in (.Page.Scratch.Get "events-container-ids") $events_id) }}
  {{ .Page.Scratch.Add "events-container-ids" (slice $events_id) }}
{{ end }}

{{ .Page.Scratch.SetInMap "mustache-templates" "news-cards" "/js/templates/news-cards.mustache" }}
{{ .Page.Scratch.SetInMap "mustache-templates" "event-timeline" "/js/templates/event-timeline.mustache" }}

<section class="featured-section row text-center padding-y-60">
  <div class="container">
    <p>
      The OpenHW community brings together hardware and software designers to
      create open source core designs and related IP, tools, and software with
      the aim for commercial and academic usage alike. These collaborative
      designs are adopted and customized by industry leaders to produce cores
      for a wide range of applications, spanning from small embedded devices
      like cellphones to advanced high-performance computing systems.
    </p>
  </div>
</section>
<section class="featured-section dark row text-center padding-y-60 bg-traces">
  <div class="container">
    <h2 id="core-v-series">The CORE-V Series</h2>
    <p>
      The CORE-V series is a robust collection of open source RISC-V cores,
      along with associated processor subsystem IP, tools and software tailored
      for electronic system designers. Optimized for both silicon and FPGA
      usage, CORE-V designs follow rigorous industry standards to deliver
      high-quality core IP. Designed to accelerate development, they provide a
      reliable foundation for creating manufacturable, production-ready
      system-on-chips (SoCs), empowering designers to streamline projects from
      concept to deployment.
    </p>
    <div class="margin-top-20">
      <a class="btn btn-primary" href="/projects/">
        OpenHW Projects
      </a>
    </div>
  </div>
</section>
<section class="row text-center padding-y-60">
  <div class="container">
    <h2 class="margin-bottom-40" id="members">OpenHW Members</h2>
    <div class="eclipsefdn-members-list" data-ml-wg="openhw-foundation" data-ml-template="carousel"></div>
    <a class="btn btn-primary margin-top-30" href="/membership/members/">View All</a>
  </div>
</section>
<section class="row padding-y-60 bg-traces-alt">
  <div class="container">
    <div class="col-sm-10">
      <h2 class="margin-bottom-40 text-white text-center" id="news">Community News</h2>
      <div class="feed-list feed-list-vertical">
        <div class="feed-actions">
          <img class="feed-actions-img" src="https://www.eclipse.org/security/images/news.jpg" alt="">
          <div class="feed-actions-btns">
            <a class="btn btn-secondary btn-sharp" href="https://newsroom.eclipse.org/rss/news/openhwgroup/announcements.xml">
              <i class="fa fa-rss text-primary-light" aria-hidden="true"></i>
              Subscribe
            </a>
            <a class="btn btn-primary btn-sharp" href="/news/">
              View All
            </a>
          </div>
        </div>
        <div
          class="news-items news-cards match-height-item-by-row"
          id="{{ $news_id }}"
          data-news-count="3"
          data-template-id="news-cards"
          data-publish-target="openhwgroup"
          >
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-4">
      <h2 class="margin-bottom-40 text-white text-center" id="events">Events</h2>
      <div class="feed-list feed-list-vertical">
        <div class="feed-actions">
          <img class="feed-actions-img" src="https://www.eclipse.org/security/images/news.jpg" alt="">
          <div class="feed-actions-btns">
            <a class="btn btn-secondary btn-sharp" href="https://newsroom.eclipse.org/node/add/events">
              Submit an Event
            </a>
            <a class="btn btn-primary btn-sharp" href="/events/">
              View All
            </a>
          </div>
        </div>
        <div
          class="events-list padding-20 match-height-item-by-row"
          id="{{ $events_id }}"
          data-count="4"
          data-template-id="event-timeline"
          data-publish-target="openhwgroup"
          data-upcoming="1"
        >
          <div class="events-container h-100" id="events-container"></div>
        </div>
      </div>
    </div>
  </div>
</section>
