<div class="row news-item padding-bottom-15">
{{#events}}
  <div class="col-sm-24">
    <p class="margin-bottom-0">
      <a class="fw-700" href="{{ registration }}">{{ title }}</a>
    </p>
    <p class="margin-bottom-0">{{ locationName }}</p>
    <p>{{ date }} - {{ end-date }}</p>
  </div>
{{/events}}
</div>