{{#events}}
  <div class="item block-summary-event-item margin-bottom-30">
    <h3 class="event-list-teaser-title margin-top-0">{{ title }}</h3>
    <p class="event-list-teaser-location">{{ locationName }}</p>
    <p class="event-list-teaser-date">{{ date }} - {{ end-date }}</p>
    <p>{{ description }}</p>
    <p class="margin-bottom-0">
    {{#registration}}
      <a class="btn btn-secondary" href="{{ registration }}">Register Now</a>
    {{/registration}}
    {{#infoLink}}
      <a class="btn btn-secondary" href="{{ infoLink }}">More information</a>
    {{/infoLink}}
    </p>
  </div>
{{/events}}