<!-- nav -->
<aside class="hidden-sm hidden-xs" id="main-sidebar">
  <ul id="leftnav" class="ul-left-nav fa-ul hidden-print">
    <li class="separator">
      <a class="separator" href="index.php">
        Eclipse Working Groups
      </a>
    </li>
    <li>
      <i class="fa fa-caret-right fa-fw"></i>
      <a href="https://www.eclipse.org/org/workinggroups/explore.php" target="_self">
        Explore Working Groups
      </a>
    </li>
    <li>
      <i class="fa fa-caret-right fa-fw"></i>
      <a href="https://www.eclipse.org/org/workinggroups/about.php" target="_self">
        About Working Groups
      </a>
    </li>
  </ul>
</aside>