<!-- nav -->
<aside id="main-sidebar brand-primary" class="margin-top-20 margin-bottom-20">
  <div class="icon-sidebar-menu row">
    <ul class="clearfix" style="list-style:none">
	    <li class="padding-bottom-20 clearfix margin-bottom-15">
	      <div class="col-xs-8 col-md-9 hidden-xs hidden-sm">
	        <a class="circle-icon" href="mailto:info@openhwgroup.org">
	          <i class="fa fa-envelope-o brand-primary"></i>
	        </a>
	      </div>
	      <div class="col-sm-24 col-md-15">
	        <h3><a href="mailto:info@openhwgroup.org">Contact us about membership</a></h3>
	        <p>Contact us about your organization joining the OpenHW Group.</p>
	      </div>
	    </li>
      <li class="padding-bottom-20 clearfix margin-bottom-15">
	      <div class="col-md-9 hidden-xs hidden-sm">
	        <a class="circle-icon" href="/membership/members">
	          <i class="fa fa-search brand-primary"></i>
	        </a>
	      </div>
	      <div class="col-sm-24 col-md-15">
	        <h3><a href="/membership/members">Explore our Members</a></h3>
	        <p>Learn more about members of the OpenHW Group.</p>
	      </div>
      </li>
      <li class="padding-bottom-20 clearfix margin-bottom-15">
	      <div class="col-xs-8 col-md-9 hidden-xs hidden-sm">
	        <a class="circle-icon" href="/membership/contact">
	          <i class="fa fa-user brand-primary"></i>
	        </a>
	      </div>
	      <div class="col-sm-24 col-md-15">
	        <h3><a href="/membership/contact/">Become a member</a></h3>
	        <p>Join the OpenHW Group and influence the future.</p>
	      </div>
      </li>
	  <li class="padding-bottom-20 clearfix margin-bottom-15">
		<div class="col-xs-8 col-md-9 hidden-xs hidden-sm">
		  <a class="circle-icon" href="https://www.eclipse.org/org/artwork/#openhw">
			<i class="fa"><img width="37px" src="{{ "/images/openhw-circle-green.svg" | absURL }}" /></i>
		  </a>
		</div>
		<div class="col-sm-24 col-md-15">
		  <h3><a href="https://www.eclipse.org/org/artwork/#openhw">Download our logo</a></h3>
		  <p>Get our logo to link back to our community.</p>
		</div>
	</li>
    </ul>
  </div>
</aside>