{{ define "main" }}
  {{ .Content }} 
  {{ $paginator := .Paginate .Data.Pages }}
  {{ if ne $paginator.NumberOfElements 0 }}
    <div class="news-list">
      <div class="news-container" id="news-container">
        {{ range $paginator.Pages }}
          <div class="item block-summary-item">
            <div class="">
              <h4 class="media-heading inline">
                <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}">{{ .Title }}</a>
              </h4>
              <p class="margin-bottom-0 inline">
                <small> &mdash; {{ .Params.company }}</small>
              </p>
            </div>
            <p class="media-date"><strong>{{ .Params.event_date }}</strong></p>
            <p class="media-text">{{ .Summary }}</p>
          </div>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  {{ else }}
    <p>No job openings are currently available.</p>
  {{ end }}
{{ end }}