{{ define "main" }}
<main id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-18 padding-bottom-30">
        <h1>{{ i18n "not-found-template-heading" }}</h1>
        <p>{{ i18n "not-found-template-content" }}</p>
        <ul>
          <li><a href="//openhwgroup.org">OpenHWGroup homepage</a></li>
          <li>{{ i18n "not-found-template-search-link" | safeHTML }}</li>
          <li>{{ i18n "not-found-template-privacy-terms-of-use" | safeHTML }}</li>
          <li><a href="//eclipse.org/legal">{{ i18n "not-found-template-legal-documents" }}</a></li>
          <li><a href="//eclipse.org/artwork/">{{ i18n "not-found-template-logos-artwork" }}</a></li>
          <li><a href="//wiki.eclipse.org/index.php/Webmaster_FAQ">{{ i18n "not-found-template-webmaster-faq" }}</a></li>
          <li><a href="mailto:webmaster@eclipse.org">{{ i18n "not-found-template-email-webmaster" }}</a></li>
        </ul>
        <br><br>
      </div>
      <div class="col-md-18">
        <div class="sideitem">
          <h6>{{ i18n "not-found-template-useful-links" }}</h6>
          <ul>
            <li><a href="//archive.eclipse.org">{{ i18n "not-found-template-project-archives" }}</a></li>
            <li><a href="//download.eclipse.org/eclipse/downloads">{{ i18n "not-found-template-project-downloads" }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}