{{ define "main" }}
   <!-- Announcements -->
  <div id="news" class="row margin-bottom-50">
    <div class="col-sm-11 col-sm-offset-2 news-list">
      <h2 class="header-underline margin-bottom-30">News</h2>
      <div class="news-items">
        {{ range first 5 (where (index .Site.Taxonomies.categories "announcements").Pages "Section" "news") }}
          <ul class="list-unstyled news-item">
            <li>
              <p class="margin-bottom-0">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
              <p class="margin-bottom-0"><strong><a class="news-list-link" href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}">{{ .Title }}</strong></a></p>
              <p>{{ .Summary }}</p>
            </li>
          </ul>
        {{ end }}
      </div>
      <ul class="list-inline news-list-links">
        <li class="news-list-links-view-all"><a href="categories/announcements">View all</a></li>
        <li class="news-list-links-rss"><a href="categories/announcements/index.xml" title="Subscribe to our RSS-feed">Subscribe to our RSS-feed <i class="fa fa-rss"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-10 news-list">
      <h2 class="header-underline margin-bottom-30">Events</h2>
      <div class="news-items">
        {{ range first 5 (where (index .Site.Taxonomies.categories "events").Pages "Section" "events") }}
          <div class="row news-item">
            <div class="col-sm-16">
              <p class="margin-bottom-0"><strong>{{ .Title }}</strong></p>
              <p class="margin-bottom-0">{{ .Params.location }}</p>
              <p>{{ .Params.event_date }}</p>
            </div>
            <div class="col-sm-8">
              <p class="events-list-link"><a class="btn btn-primary" href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}">Learn more</a></p>
            </div>
          </div>
        {{ end }}
      </div>
      <ul class="list-inline news-list-links">
        <li class="news-list-links-view-all"><a href="categories/events">View all</a></li>
        <li class="news-list-links-rss"><a href="categories/events/index.xml" title="Subscribe to our RSS-feed">Subscribe to our RSS-feed <i class="fa fa-rss"></i></a></li>
      </ul>
    </div>
  </div>
  {{ .Content }}
{{ end }}