// @todo: Scope this jumbotron to .home-page once that class exists
// Upgrade EFSA to remove text-shadow
.featured-jumbotron {
  text-align: center;
  color: @white;

  & &-headline {
    color: inherit;
    font-size: @font-size-4xl;
    font-weight: 600;
  }

  & &-subtitle {
    font-size: @font-size-xl;
  }
}

.bg-home .featured-jumbotron {
  background: url('../images/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}

.featured-story-jumbotron {
  margin-top: 5rem;
  border-radius: 0.5em;
  background-color: fade(lighten(@brand-secondary, 30%), 30%);
  backdrop-filter: blur(10px);
  
  & .featured-story-jumbotron-title {
    color: #fff;
  }

  & .featured-story-jumbotron-content-body {
    color: #eee;
  }

  .btn-primary {
    background-color: black;
    border-color: black;

    &:hover,
    &:active {
      background-color: lighten(black, 10%);
    }
  }
}
