<aside id="main-sidebar">
  <div class="icon-sidebar-menu row">
    <div class="padding-bottom-20 clearfix margin-bottom-15">
      <div class="col-xs-8 col-md-9 hidden-xs hidden-sm">
        <a class="circle-icon" href="https://accounts.eclipse.org/contact/membership">
          <i class="fa fa-envelope-o orange"></i>
        </a>
      </div>
      <div class="col-sm-24 col-md-15">
        <h3><a href="https://accounts.eclipse.org/contact/membership">Contact us about membership</a></h3>
        <p>Contact us about your organization joining the Eclipse Foundation</p>
      </div>
    </div>
            <div class="padding-bottom-20 clearfix">
      <div class="col-md-9 hidden-xs hidden-sm">
        <a class="circle-icon" href="/membership/exploreMembership.php">
          <i class="fa fa-search orange"></i>
        </a>
      </div>
      <div class="col-sm-24 col-md-15">
        <h3><a href="/membership/exploreMembership.php">Explore our Members</a></h3>
        <p>Learn more about the products and services provided by the members of Eclipse</p>
      </div>
    </div>
            <div class="padding-bottom-20 clearfix margin-bottom-15">
      <div class="col-xs-8 col-md-9 hidden-xs hidden-sm">
        <a class="circle-icon" href="/membership/become_a_member/">
          <i class="fa fa-user orange"></i>
        </a>
      </div>
      <div class="col-sm-24 col-md-15">
        <h3><a href="/membership/become_a_member/">Become a member</a></h3>
        <p>Join the Eclipse Foundation and influence the future</p>
      </div>
    </div>
            <div class="padding-bottom-20 clearfix margin-bottom-15">
      <div class="col-xs-8 col-md-9 hidden-xs hidden-sm">
        <a class="circle-icon" href="/membership/become_a_member/">
          <i class="fa fa-handshake-o orange"></i>
        </a>
      </div>
      <div class="col-sm-24 col-md-15">
        <h3><a href="/corporate_sponsors">Become a corporate sponsor</a></h3>
        <p>We encourage corporate users of Eclipse technologies to support the community by becoming a member and/or joining the Corporate Sponsorship Program.</p>
      </div>
    </div>
  </div>
</aside>