{{ $blog_section := .Site.GetPage "/resources/blog" }}
{{ $blog_pages := $blog_section.Pages }}
<div class="">
    <h2 class="header-underline margin-bottom-30">Blog</h2>
        {{ range first 3 $blog_pages }}
            {{ $summary_truncated := printf "%s..." (substr .Summary 0 100) }}
            <div class="blog-list-teaser-content">
                <h3>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h3>
                <p>{{ .Date }}</p>
                <p>{{ $summary_truncated | safeHTML }}</p>
            </div>
        {{ end }}
    <div class="margin-bottom-40 text-center">
        <a href="/blog">View all</a>
    </div>
</div>