<div id="contact-us" class="featured-section featured-contact-us padding-top-30 padding-bottom-40 margin-top-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-3">
        <h2 class="header-underline">Contact Us</h2>
        <h3>Mailing Address</h3>
        <p>OpenHW Group<br />2934 Baseline Road, Suite 202, Ottawa, ON, Canada K2H 1B2</p>
        <h3>Email Address</h3>
        <p><a class="white" href="mailto:info@openhwgroup.org">info@openhwgroup.org</a></p>
      </div>
      <div class="col-sm-8">
        <p class="margin-top-60">
          <a class="btn btn-primary btn-mailing-list" href="https://share.hsforms.com/1XdNvwOBNRTONOVdZjwVleg4o9yd"
            >Join Our Mailing List</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="featured-footer featured-story-nid-default-featured-story featured-story-light"
  id="featured-footer"
  data-publish-target="openhwgroup"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-24 featured-container">
        <h2 class="margin-top-30">Eclipse Foundation Events</h2>
        <p>
          Join the world’s leading technologists and open source leaders at Eclipse Foundation events to share ideas,
          learn and collaborate.
        </p>
        <ul class="list-inline list-inline-xs-margin">
          <li><a class="btn btn-primary" href="https://events.eclipse.org">View Events</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
