<div id="content" class="openhw-membership">
  <div class="margin-bottom-20">
    <!-- Nav tabs -->
    <div class="row content-nav-tab-toggle">
      <div class="visible-xs">
        <div class="vertical-align">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-membership">
            <p class="nav-label"><strong>Eclipse Membership</strong></p>
            <div class="hamburger-wrapper">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="navbar-collapse collapse" id="navbar-membership">
        <ul class="nav nav-tabs solstice-tabs content-nav-tab" role="tablist">
          <li role="presentation" class="active">
            <a href="#tab-benefits" aria-controls="tab-benefits" role="tab" data-toggle="tab"
              class="background-grey">Benefits and Services</a>
          </li>
          <li role="presentation">
            <a href="#tab-levels" aria-controls="tab-levels" role="tab" data-toggle="tab"
              class="background-grey">Membership Levels</a>
          </li>
          <li role="presentation">
            <a href="#tab-fees" aria-controls="tab-fees" role="tab" data-toggle="tab" class="background-grey">Membership
              Fees</a>
          </li>
          <li role="presentation">
            <a href="#tab-membership" aria-controls="tab-membership" role="tab" data-toggle="tab"
              class="background-grey">Become a Member</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content content-nav-tab-body no-gutters-mobile padding-bottom-40">
      <div role="tabpanel" class="tab-pane active" id="tab-benefits">
        <h2 class="text-center">Why Become a Member of OpenHW Group?</h2>
        <div class="row section-highlights">
          <div class="col-xs-24 col-sm-12 col-md-8 margin-bottom-20 match-height-item-by-row featured-highlights-item">
            <div class="circle-icon margin-auto">
              <i class="fa fa-file-code-o"></i>
            </div>
            <h3 class="fw-700">Be part of the rapidly growing CORE-V Cores ecosystem</h3>
            <p>
              The Industry&apos;s most comprehensive open-source RISC-V ecosystem comprises industrial-quality cores,
              software, emulation and evaluation kits, and prototype devices enabling its members to lead the market.
            </p>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-8 margin-bottom-20 match-height-item-by-row featured-highlights-item">
            <div class="circle-icon margin-auto">
              <i class="fa fa-users"></i>
            </div>
            <h3 class="fw-700">Participate in the Technical Working Group and Task Groups</h3>
            <p>
              Influence the technical roadmap, drive new features, and gain insight into cores and enabling
              technologies.
            </p>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-8 margin-bottom-20 match-height-item-by-row featured-highlights-item">
            <div class="circle-icon margin-auto">
              <i class="fa fa-map-o"></i>
            </div>
            <h3 class="fw-700">Work to drive a global open hardware roadmap</h3>
            <p>
              through participation in OpenHW Asia Working Group and OpenHW Europe Working Group.
            </p>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-8 margin-bottom-20 match-height-item-by-row featured-highlights-item">
            <div class="circle-icon margin-auto">
              <i class="fa fa-flag-o"></i>
            </div>
            <h3 class="fw-700">Gain industry prominence through leadership roles</h3>
            <p class="margin-0">
              which guide the strategy of the OpenHW Group.
            </p>
            <ul class="margin-left-10 text-left">
              <li>OpenHW Group Board of Directors</li>
              <li>Working Groups and Task Groups and to guide the overall strategy of the OpenHW Group.</li>
            </ul>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-8 margin-bottom-20 match-height-item-by-row featured-highlights-item">
            <div class="circle-icon margin-auto">
              <i class="fa fa-calendar"></i>
            </div>
            <h3 class="fw-700">Through the OpenHW Marketing Working Group</h3>
            <p>
              participate in and drive various OpenHW Group and industry events such as DAC, Embedded World, RISC-V
              Summit, the <a href="https://www.osdforum.org/">OSDForum</a> and Eclipse Foundation events, including
              <a href="https://www.eclipsecon.org/europe2019">EclipseCon</a>.
            </p>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-8 margin-bottom-20 match-height-item-by-row featured-highlights-item">
            <div class="circle-icon margin-auto">
              <img src="/images/openhw-circle.svg" class="margin-top-15" alt="openhw logo" width="60%">
            </div>
            <h3 class="fw-700">Use OpenHW Group and CORE-V trademarks and logos</h3>
            <p>
              on your own site, following the OpenHW Branding Style Guide and Logo License, and have your logo listed on
              our members&apos; page and in other promotional material.
            </p>
          </div>
        </div>

        <hr class="green margin-bottom-40 margin-top-40" />

        <h2>Key Services of the Eclipse Foundation</h2>
        <p>The OpenHW Group works closely with the Eclipse Foundation to deliver these key services to our members:</p>
        <div class="row margin-top-30 margin-bottom-30 text-center">
          <div class="col-xs-24 col-sm-12 margin-bottom-20">
            <div class="bordered-box bordered-box-light match-height-item-by-row">
              <div class="box-header">
                <div class="background-secondary padding-10 fw-700">Development Process based on Industry Best Practice
                </div>
              </div>
              <div class="bordered-box-body padding-30">
                <p>
                  Our staff guide OpenHW members in the best-practice Eclipse Development Process, already proven in
                  many open-source Eclipse Foundation projects, and applied to open-source hardware development by
                  OpenHW Group.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-24 col-sm-12 margin-bottom-20">
            <div class="bordered-box bordered-box-light match-height-item-by-row">
              <div class="box-header">
                <div class="background-secondary fw-700">IP Management</div>
              </div>
              <div class="bordered-box-body padding-30">
                <p>
                  We use the Apache 2.0, Solderpad 2.0, and the <a href="https://www.eclipse.org/legal/epl-2.0/">Eclipse
                    Public License</a> (EPL) as proven frameworks for
                  open source hardware and software licensing. Our IP team applies world class expertise in IP
                  provenance validation, vital for open-source projects.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-24 col-sm-12 margin-bottom-20">
            <div class="bordered-box bordered-box-light match-height-item-by-row">
              <div class="box-header">
                <div class="background-secondary padding-10 fw-700">Ecosystem Development and Marketing
                </div>
              </div>
              <div class="bordered-box-body padding-30">
                <p>
                  Our Marketing Working Group works to bring CORE-V technologies and developments to the fore through
                  conferences, OpenHW TV, and marketing events with members.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-24 col-sm-12 margin-bottom-20">
            <div class="bordered-box bordered-box-light match-height-item-by-row">
              <div class="box-header">
                <div class="background-secondary padding-10 fw-700">IT Infrastructure</div>
              </div>
              <div class="bordered-box-body padding-30">
                <p>
                  We leverage the vendor-neutral, reliable and scalable technology infrastructure of the Eclipse
                  Foundation to deliver source code repositories, CI infrastructure, mailing lists, messaging platforms,
                  and other tools. These enable a seamless, effective open-source experience for our members.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Nav -->
        <div class="margin-top-40 vertical-align text-left">
          <a class="col-xs-22 col-sm-12 col-sm-offset-6 col-md-offset-8 col-md-8 text-center btn btn-primary"
            href="mailto:info@openhwgroup.org">Contact Us About Membership</a>
          <a class="hidden-xs col-sm-6 col-md-8 text-right alt-tab-toggle" href="#tab-levels">Membership levels &gt;</a>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab-levels">
        <div class="text-center margin-bottom-30">
          <h2>Membership at OpenHW Group</h2>
          <p>
            OpenHW Group offers four levels of membership: <a href="#platinum">Platinum</a>, <a href="#gold">Gold</a>,
            <a href="#silver">Silver</a>, and <a href="#supporter">Supporter</a>.
          </p>
        </div>
        <h3 class="brand-primary h4 fw-700" id="platinum">Platinum Member</h3>
        <p>
          Platinum members view participation in OpenHW Group and the development of a global ecosystem of open-source,
          industrial-quality processor IP as strategic to their business, and they play a leading role in all aspects of
          OpenHW Group. They invest significant developer and other resources to advance OpenHW technology, capabilities
          and scope, while leading technology projects and technical/industry committees. Platinum Member benefits:
        </p>
        <ul>
          <li>An employee is eligible for board-seat elections.</li>
          <li>Employees are eligible to serve as Chair or Vice Chair of committees.</li>
          <li>Entitled to cast one vote on any matter presented to the Members (including the election of directors).
          </li>
          <li>Employees are entitled to join and make technical contributions to all OpenHW Group technical committees
            and projects.</li>
          <li>Entitled through their OpenHW Group and Eclipse Foundation memberships to join the OpenHW Asia and OpenHW
            Europe Working Groups.</li>
          <li>Receive a complementary <a href="https://www.eclipse.org/membership/#contributing">Eclipse Foundation
              Contributing Membership</a>.</li>
        </ul>
        <hr class="green margin-bottom-40 margin-top-40">

        <h3 class="brand-primary h4 fw-700" id="gold">Gold Member</h3>
        <p>
          Gold members play a prominent and leading role in the development of OpenHW Group&apos;s global ecosystem of
          open-source, industrial-quality processor IP. They invest significant developer resources while leading OpenHW
          technology projects and chairing technical committees. Gold Member benefits:
        </p>
        <ul>
          <li>Employees are eligible to serve as Chair or Vice Chair of committees.</li>
          <li>Entitled to cast one vote on any matter presented to the Members (including the election of directors).
          </li>
          <li>Employees are entitled to join and make technical contributions to all OpenHW Group technical committees
            and projects. </li>
          <li>Entitled through their OpenHW Group and Eclipse Foundation memberships to join the OpenHW Asia and OpenHW
            Europe Working Groups.</li>
          <li>Receive a complementary <a href="https://www.eclipse.org/membership/#contributing">Eclipse Foundation
              Contributing Membership</a>.</li>
        </ul>

        <hr class="green margin-bottom-40 margin-top-40">

        <h3 class="brand-primary h4 fw-700" id="silver">Silver Member</h3>
        <p>Associate Members are organizations that participate in and want to show support for the Eclipse
          Foundation ecosystem. Many research and educational institutions choose to join as an Associate
          Member. Associate membership benefits include:</p>
        <ul>
          <li>Opportunity to join and participate on all Eclipse public mailing lists, and to attend Members
            meetings.</li>
          <li>Ability to join select Eclipse Working Groups as a Guest Member.</li>
          <li>The opportunity to attend all meetings of the General Assembly.</li>
          <li>Opportunity to show support for the Eclipse Foundation by displaying the Eclipse Foundation
            Member logo.</li>
        </ul>
        <hr class="green margin-bottom-40 margin-top-40">

        <h3 class="brand-primary h4 fw-700" id="supporter">Supporter Member</h3>
        <p>
          Supporter members show their support for OpenHW Group&apos;s global ecosystem of open-source,
          industrial-quality
          processor IP through their active participation in all matters other than technical contribution.Supporter
          Member benefits:
        </p>
        <ul>
          <li>Entitled to cast one vote on any matter presented to the Members (including the election of directors).
          </li>
          <li>Employees are entitled to join all OpenHW Group technical committees and projects.</li>
          <li>Entitled to join the OpenHW Asia and OpenHW Europe Working Groups subject to also becoming Eclipse
            Foundation Contributing Members.</li>
        </ul>

        <!-- Nav -->
        <div class="margin-top-40 vertical-align">
          <a class="hidden-xs col-sm-6 col-md-8 text-left alt-tab-toggle" href="#tab-benefits">&lt; Benefits
            and Services</a>
          <a class="col-xs-22 col-sm-12 col-md-8 text-center btn btn-primary" href="mailto:info@openhwgroup.org">Contact
            Us About Membership</a>
          <a class="hidden-xs col-sm-6 col-md-8 text-right alt-tab-toggle" href="#tab-fees">Membership Fees
            &gt;</a>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane text-center" id="tab-fees">
        <h2>Membership Fees</h2>
        <p>
          The Membership Annual Fee Chart based on membership levels is provided below for illustration purposes only.
          Please see the <a href="/membership/openhw-group-membership-agreement-2019-10-16.pdf">OpenHW
            Group Membership Agreement</a> for full details.
        </p>
        <div class="vertical-align">
          <table class="table table-stripped" cellspacing="0">
            <thead>
              <tr>
                <th width="40%" rowspan=2>Annual Corporate Revenues <br> and Number of Employees</td>
                <th class="text-center" width="60%" colspan="4">
                  Annual Membership Fees ($) / Active Contributors (AC)
                </th>
              </tr>
              <tr>
                <th class="text-center" width="15%">Platinum</th>
                <th class="text-center" width="15%">Gold</th>
                <th class="text-center" width="15%">Silver</th>
                <th class="text-center" width="15%">Supporter</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">&gt; $3&nbsp;billion or &gt; 5000&nbsp;employees</td>
                <td>$250K / (3)</td>
                <td>$125K / (2)</td>
                <td>$75K / (1.5)</td>
                <td>$75K</td>
              </tr>
              <tr>
                <td class="text-left">&lt; $3&nbsp;billion or &lt; 5000&nbsp;employees
                </td>
                <td>$200K / (2.5)</td>
                <td>$100K / (2)</td>
                <td>$50K / (1.5)</td>
                <td>$50K</td>
              </tr>
              <tr>
                <td class="text-left">&lt; $1&nbsp;billion or &lt; 2000&nbsp;employees</td>
                <td>$150K / (2)</td>
                <td>$75K / (1.5)</td>
                <td>$37.5K / (1)</td>
                <td>$37.5K</td>
              </tr>
              <tr>
                <td class="text-left">&lt; $500&nbsp;million or &lt; 1000&nbsp;employees</td>
                <td>$100K / (1)</td>
                <td>$50K / (1)</td>
                <td>$25K / (1)</td>
                <td>$25K</td>
              </tr>
              <tr>
                <td class="text-left">&lt; $100&nbsp;million or &lt; 500&nbsp;employees</td>
                <td>$50K / (1)</td>
                <td>$25K / (1)</td>
                <td>$10K / (1)</td>
                <td>$10K</td>
              </tr>
              <tr>
                <td class="text-left">&lt; $10&nbsp;million or &lt; 100&nbsp;employees</td>
                <td>$25K / (0.5)</td>
                <td>$10K / (0.5)</td>
                <td>$5K / (0.5)</td>
                <td>$5K</td>
              </tr>
              <tr>
                <td class="text-left">&lt; $1&nbsp;million or &lt; 10&nbsp;employees</td>
                <td>$10K</td>
                <td>$5K</td>
                <td>$1K</td>
                <td>$1K</td>
              </tr>
              <tr>
                <td class="text-left">Govt, Govt agencies, NGOs, etc.</td>
                <td>$25K</td>
                <td>$10K</td>
                <td>$5K</td>
                <td>$5K</td>
              </tr>
              <tr>
                <td class="text-left">Academic, Research or Publishing Organizations, etc.</td>
                <td>$10K</td>
                <td>$5K</td>
                <td>$1K</td>
                <td>$1K</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Nav -->
        <div class="margin-top-40 vertical-align">
          <a class="hidden-xs col-sm-6 col-md-8 text-left alt-tab-toggle" href="#tab-levels">&lt; Membership
            Levels</a>
          <a class="col-xs-22 col-sm-12 col-md-8 text-center btn btn-primary" href="mailto:info@openhwgroup.org">Contact
            Us About Membership</a>
          <a class="hidden-xs col-sm-6 col-md-8 text-right alt-tab-toggle" href="#tab-membership">How to
            become a member &gt;</a>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab-membership">
        <div class="text-center">
          <h2>How to Become a Member</h2>
          <p><strong>To become a member, follow these steps below:</strong></p>
        </div>
        <p>
          <strong> Once you have chosen the <a class="alt-tab-toggle" href="#tab-levels">level of membership</a>
            (e.g.,
            Platinum, Gold, Silver, Supporter):
          </strong>
        </p>
        <ol>
          <li>Complete and sign the <a href="/membership/contact/openhw-membership-application-form.pdf">Membership
              Application Form</a></li>
          <li>Complete and sign the <a
              href="https://www.openhwgroup.org/membership/openhw-group-membership-agreement-2019-10-16.pdf">Membership
              Agreement</a>
          </li>
          <li>Complete and sign the <a
              href="https://www.eclipse.org/legal/committer_process/EclipseMemberCommitterAgreement.pdf">Member
              Committer and Contributor Agreement</a> (optional, but recommended)</li>
          <li><a href="mailto:membership@openhwgroup.org">Email us</a> the signed documents, including the Membership
            Agreement, the Membership Application, and
            optionally, the Member Committer and Contributor Agreement</li>
        </ol>

        <!-- Nav -->
        <div class="margin-top-40 vertical-align">
          <a class="hidden-xs col-sm-6 col-md-8 col-sm-pull-3 col-md-pull-4 text-left alt-tab-toggle"
            href="#tab-fees">&lt; Membership
            Fees</a>
          <a class="col-xs-22 col-sm-12 col-sm-pull-3 col-md-pull-4 col-md-8 btn btn-primary"
            href="mailto:info@openhwgroup.org">Contact
            Us About Membership</a>
        </div>
      </div>

    </div>
  </div>
</div>