{{ $videosLocation := .Get "videosSection" | default .Site.Params.openhw_tv_section | default "/resources/openhwtv/_index.md" }}
{{ $videosSection := .Site.GetPage "section" $videosLocation }}
{{ $seriesLocation := .Get "seriesSection" | default .Site.Params.openhw_tv_series_location | default "/resources/openhwtv/series/" }}
{{ $seriesSection := .Site.GetPage "section" $seriesLocation }}

<!-- Get the series with the most recent date -->
{{ $latestSeriesKey := "" }}
{{ range first 1 ((where $videosSection.RegularPages "Params.series" "!=" "").ByDate.Reverse)  }}
  {{ $latestSeriesKey = .Params.series }} 
{{ end }}
{{ $latestSeries := index (where $seriesSection.RegularPages "Params.series" "==" $latestSeriesKey) 0 }}

<h2>
  {{ $latestSeries.Title }}
  <br />
  <small>{{ $latestSeries.Params.subtitle }}</small>
</h2>

{{ $seriesVideos := where $videosSection.RegularPages "Params.series" "==" $latestSeriesKey }}
{{ range $seriesVideos }}
  <div class="openhw-tv-item col-xs-24 col-sm-12 margin-bottom-20">
    <h3>{{ .Title }}</h3>
    {{- with .Params.episode_title }}<h4>{{ . }}</h4> {{ end -}}
    <p>{{ dateFormat "Jan 2, 2006" .Date }}</p>
    {{ .Content }}
  </div>
{{ end }}

