{{ $videos_location := .Get "videosSection" | default .Site.Params.openhw_tv_section | default "/resources/openhwtv/_index.md" }}
{{ $videos_section := .Site.GetPage "section" $videos_location }}
{{ $series_location := .Get "seriesSection" | default .Site.Params.openhw_tv_series_location | default "/resources/openhwtv/series/" }}
{{ $series_section := .Site.GetPage "section" $series_location }}

<!-- Get the series page with the most recent date -->
{{ $latest_series_key := "" }}
{{ range first 1 ((where $videos_section.RegularPages "Params.series" "!=" "").ByDate.Reverse)  }}
  {{ $latest_series_key = .Params.series }} 
{{ end }}
{{ $latest_series := index (where $series_section.RegularPages "Params.series" "==" $latest_series_key) 0 }}

<h2>
  {{ $latest_series.Title }}
  <br />
  <small>{{ $latest_series.Params.subtitle }}</small>
</h2>

<div class="row">
  <!-- Get all video pages which fall under the latest series -->
  {{ $series_videos := where $videos_section.RegularPages "Params.series" "==" $latest_series_key }}
  {{ range $series_videos }}
    <div class="openhw-tv-item col-xs-24 col-sm-12 margin-bottom-20">
      <h3>{{ .Title }}</h3>
      {{- with .Params.episode_title }}<h4>{{ . }}</h4> {{ end -}}
      <p>{{ dateFormat "Jan 2, 2006" .Date }}</p>
      {{ .Content }}
    </div>
  {{ end }}
</div>

