{{ $featured_post_url := "/resources/blog/openhw-group-seeking-ceo" }}
{{ $featured_post := .Site.GetPage $featured_post_url }}
<a class="pinned-news-item link-unstyled margin-bottom-30" href="{{ $featured_post_url }}">
  <div class="item block-summary-item">
    <div class="pinned-news-item-icon fa-stack" aria-label="Pinned news item">
      <i class="fa fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
      <i class="fa fa-thumb-tack fa-inverse fa-stack-1x" aria-hidden="true"></i>
    </div>
    <p>{{ $featured_post.Date.Format "Monday, January 2, 2006 - 15:04" }}</p>
    <h4>{{ $featured_post.Title }}</h4>
    {{ $featured_post.Params.summary | markdownify }}
  </div>
</a>
