.featured-testimonials {
  .bg-traces;

  .header-underline:after {
    margin: 15px auto 0;
    width: 300px;
  }

  .testimonial-item {
    margin-top: 120px;
    display: block;

    @media (min-width: @screen-sm-min) {
      padding: 0 1.5rem;
    }

    & > div {
      background-color: fade(@brand-primary, 25%);
      backdrop-filter: blur(4px);
      border-radius: 0.5em;
    }

    .testimonial-logo {
      background-color: #fff;
      border-radius: 150px;
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      margin: -120px auto 30px;
      position: relative;

      img {
        margin: 0 auto;
        border-radius: 0;
      }
    }

    .title {
      font-size: 16px;
    }

    .content {
      font-size: 14px;
    }

    .content:before {
      content: "";
    }

    .content:after {
      content: "";
    }
  }
}

